body {
    font-family: 'Roboto', sans-serif;
    color: #1b1b32;
    margin: 0;
}

/*header*/


a {
    color: #212121;
    text-decoration: none;
}

header {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    border-bottom: 2px solid #ECECEC;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px;
}

.nav__list,
.nav__info {
    display: flex;
    column-gap: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    list-style-type: none;
}

.nav__list {
    margin-right: 9rem;
}


nav>ul>li {
    color: #000000;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: flex;
}

nav>ul>li:hover {
    background-color: #dfdfe2;
    color: #2196F3;
    cursor: pointer;
}

li>a {
    color: inherit;
    text-decoration: none;
}

.logo {
    width: max(100px, 18vw);
    padding: 0.4rem;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

.logo-accent {
    color: #212121;
}

/*main*/
/*hero*/

#hero {
    background: linear-gradient(135deg, #2F303A 0%, #090910e7 100%);
    color: #fff;
    height: 450px;
    padding: 5rem;
}

.column h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-top: 7rem;
}

#submit-button {
    margin: 0 auto;
    display: block;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background: #2196F3;
    padding: 1rem 1rem;
    border-radius: 5px;
}


#submit-button:hover {
    background-color: #fff;
    transition: background-color 1s;
    color: #2f1e84;
    transition: color 1s;
}

/*work*/
#work {
    background: white;
    color: rgb(0, 0, 0);
    padding: 2rem 3rem;
}

#images-container {
    padding: 2rem 0 0 0;
    text-align: center;
    margin: 1rem 3rem;
}

#images-container ul {
    display: flex;
    column-gap: 30px;
    list-style-type: none;
}

#container {
    margin-top: 5rem;
}

#container>ul {
    display: flex;
    column-gap: 30px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    list-style-type: none;
    letter-spacing: 0.03em;
}

h4 {
    text-transform: uppercase;
}

#container p {
    color: #757575;
    text-align: left;
}


/*team*/
#team {
    background-color: #F5F4FA;
    text-align: center;
}

#team h2 {
    padding-bottom: 1rem;
    padding-top: 5rem;
}

#team ul {
    display: flex;
    list-style-type: none;
    margin-left: 1rem;
    padding-bottom: 5rem;
    border: 1px;
}

figcaption {
    padding: 1rem;
    background-color: #FFFFFF;
}

#team ul li:hover {
    box-shadow: 0 0 2rem -0.7rem rgba(55, 56, 58, 0.2);
    border: 1px solid #afbdff;
}



/* Footer */

footer {
    text-align: left;
    padding: 1rem 0;
    background-color: #2F303A;
    color: #fff;
}

footer .logo {
    padding: 2rem 0px 0px 3.7rem;
}

.accent {
    color: white;
}

address {
    padding: 0.1rem 0 0 5rem;
}

address a {
    color: white;
}

.Link,
.tel {
    color: #FFFFFF99;
}




/*portfolio*/
.btn-group {
    margin: 10rem 1rem 1rem 25rem;
}

.btn-group button {
    background-color: #F5F4FA;
    border: 1px solid #F5F4FA;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    border-radius: 5px;

}

.submit-button {
    margin: 10px;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:hover {
    background-color: #2196F3;
}

/*cards*/

#cards ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 2rem 0rem 3rem;
}

#cards ul li {
    list-style: none;
    flex: 0 0 33.333333%;
}